.size {
    width: 32px;
    height: 32px;
    color: var(--white);
}
.small-pen {
    width: 24px;
    height: 24px;
    color: var(--green);
}
.white {
    color: var(--white);
}
.green {
    color: var(--green);
}