.size-32 {
    width: 32px;
    height: 32px;
    color: var(--white);
}
.small {
    width: 24px;
    height: 24px;
    color: var(--green);
}
.white {
    color: var(--white);
}
.green {
    color: var(--green);
}
.red {
    color: var(--negative-red-1)
}
.black-blue {
    color: var(--black-blue)
}