.unauthorized-message {
    margin-bottom: 16px;
    font-size: 1.4rem;
    text-align: center;
    padding: 10px;
    background-color: var(--negative-red-2);
    color: var(--negative-red-1);
    border-radius: 5px;
}